<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="NGN Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/ChartValidatorTest.php</exclude>
            <exclude>./tests/SpinValidatorTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
